PlatformClient/Service References/PlatformServer/PlatformService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PlatformService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PlatformService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6666/PlatformService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="PlatformCommandInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CommandName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CommandType" type="tns:CommandDirectionType" />
      <xs:element minOccurs="0" name="DataTable" nillable="true">
        <xs:complexType>
          <xs:sequence>
            <xs:any minOccurs="0" processContents="lax" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExecuteNonQueryResult" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FromModel" type="tns:CommandDirectionType" />
      <xs:element minOccurs="0" name="ParamCollection" nillable="true">
        <xs:complexType>
          <xs:sequence>
            <xs:any minOccurs="0" processContents="lax" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="PublicValue" nillable="true">
        <xs:complexType>
          <xs:sequence>
            <xs:any minOccurs="0" processContents="lax" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SqlSentence" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="TableName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TempValue" nillable="true">
        <xs:complexType>
          <xs:sequence>
            <xs:any minOccurs="0" processContents="lax" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="ToModel" type="tns:CommandDirectionType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlatformCommandInfo" nillable="true" type="tns:PlatformCommandInfo" />
  <xs:simpleType name="CommandDirectionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CompositeControl" />
      <xs:enumeration value="DB" />
      <xs:enumeration value="Message" />
      <xs:enumeration value="ClientUI" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CommandDirectionType" nillable="true" type="tns:CommandDirectionType" />
</xs:schema>