PlatformClient/Service References/PlatformServer/PlatformService32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6666/PlatformService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PlatformService" />
  <xs:element name="TextValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aa" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TextValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TextValueResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoAction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PlatformService" minOccurs="0" name="pci" nillable="true" type="q1:PlatformCommandInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoActionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PlatformService" minOccurs="0" name="DoActionResult" nillable="true" type="q2:PlatformCommandInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>